---
import "../styles/main.css";
import MainLayout from "../layouts/MainLayout.astro";
---

<html lang="da">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <MainLayout />
    <img
      class="header-image"
      src="../../public/gradient3.png"
      alt="gradient baggrund"
    />
    <section class="box">
      <h2>ENVIRONMENTAL, SOCIAL AND GOVERNANCE</h2>
      <p>
        Ved at være partner med ITMV, styrker I jeres virksomheds E
        (environmental) & S (social) i jeres ESG mål. Vi fokuserer på at styrke
        jeres <br /> Environmental mål, ved at skabe livskvalitet gennem design
        og arbejdsfællesskab, så vi sammen kan skabe fremtidens bæredygtige <br
        />
         tekstilvirksomhed med social ansvarlighed som kompas.
      </p>
      <div class="grid_2_1">
        <div>
      <p>
        Vi fokuserer på at styrke jeres Social mål, ved bidrage til et rummeligt
        arbejdsmarked ved at ansætte kvinder i ordinær beskæftigelse <br /> med
        fokus på kvindernes kompetencer og ressourcer, som skal sættes i spil på
        det danske arbejdsmarked. Vi tror på, at mennesker bliver gladere <br />
         og stærkere af at arbejde med noget de brænder for. Desuden ønsker vi
        at bidrage til den grønne omstilling ved at skabe en cirkulær
        produktion, <br /> hvor kasserede tekstiler kan få nyt liv i stedet for
        at ende på forbrændingen.
      </p>
    </div>
      <div>
      <img class="logo_class" src="../../public/logo_entradadgangen.png" alt="" />
    </div>
  </div>
    </section>
  </body>
</html>

<style>
  .box {
    display: grid;
    grid-template-columns: 1fr;
    background-color: #ffffff5b;
    padding: 40px; /* indvendig polstring */
    width: fit-content; /* justerer bredden til indholdet */
    place-items: center;
  }

  .grid_2_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .logo_class{
    scale: 0.6;
  }
</style>
