---
import "../styles/main.css";
import MainLayout from "../layouts/MainLayout.astro";
---

<html lang="da">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <MainLayout />
    <img
      class="header-image"
      src="../../public/gradient3.png"
      alt="gradient baggrund"
    />
    <div class="grid">
      <div class="box">
        <h2>Hvad er repair service?</h2>
        <p>
          HVAD TILBYDER VI? <br />Vi tilbyder reparation, tilpasning og
          fornyelse af tøj til din virksomheds <br /> medarbejdere. Vores team
          består af to syerske og en designer. <br /> De vil sidde klar ved
          symaskinerne, til at hjælpe jer med at forlænge <br /> levetiden på
          tøjet. Vi tilbyder bl.a. oplægning, reparation af lynlås <br /> og
          huller samt broderi m.m.
        </p>
        <p>
          HVORNÅR? <br /> Sammen aftaler vi en fast dag, f.eks. hver anden uge,
          en gang <br /> om måneden. Der vil være drop in og aflevering af tøjet
          om morgenen. <br /> Vi bestræber os på at blive færdige med dagens
          reparationer samme dag. <br /> Men det kan variere, afhængig af
          opgaven.
        </p>
        <p>
          HVOR? <br />Vi kommer ud til din virksomhed med vores REPAIR SERVICE <br
          /> (Københavnsområdet, tilgængeligt med offentlig transport)
        </p>
      </div>
      <img class="img_class" src="../../public/hvad_er.png" alt="" />
    </div>
  </body>
</html>

<style>
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .box {
    background-color: #ffffff5b;
    padding: 40px; /* indvendig polstring */
    width: fit-content; /* justerer bredden til indholdet */
    align-self: center;
    place-self: center;
  }

  .img_class {
    height: 90%;
    place-self: center;
  }
</style>
