---
import "../styles/main.css";
import MainLayout from "../layouts/MainLayout.astro";
---

<html lang="da">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <MainLayout />

    <div class="box">
      <h2>HØR FRA EN AF VORES SAMARBEJDSPARTNERE: KAB</h2>
      <p>
        <strong
          >Hvorfor valgte I at indgå i et samarbejde med ITMV om Repair Service?</strong
        >
      </p>
      <p class="cursive">
        ”KAB er i forvejen en meget tilfreds kunde hos ITMV – og vi er vilde med
        konceptet med Repair Service, der på alle parametre talerdirekte ind i
        vores arbejde med at sætte mest muligt fokus på bæredygtige løsninger i
        hverdagen i et stort kontorhus. Det kommer ogsåtil at indgå i vores
        arbejde med ESG.”
      </p>
      <p>- Sanne Kjær, Kundedirektør KAB</p>
      <img src="../../public/line.png" alt="" />
      <p>
        <strong
          >Hvad synes du om at din arbejdsplads tilbyder ITMV Repair Service?</strong
        >
      </p>
      <p class="cursive">
        ”Det er helt fantastisk, en af de bedste personalegoder jeg har oplevet
        i KAB. Den rammer lige ind i bæredygtighedsdagsordenen, og gør det
        enormt nemt. Samtidig løser ordningen også et dårlig
        samvittighedsproblem. Jeg ville rigtig gerne reparerer mit tøj frem for
        at smide det ud, men problemet er at man skal finde en god skrædder og
        samtidig skal man forbi i deres åbningstid, den er løst her. Derudover
        kan det være enormt dyrt.”
      </p>
      <div class="grid">
        <div>
          <p>- Jonas Mørch Cohen, Kundechef KAB</p>
          <img src="../../public/line.png" alt="" />
          <p><strong>Hvad synes du om ITMV Repair Service?</strong></p>
          <p class="cursive">
            ”Fantastisk koncept. Jeg er glad for at kunne hjælpe de to syerske,
            der har været siddet i KAB-Huset med at få foden ind på
            arbejdsmarkedet og blive en del af et socialt og forpligtende
            fællesskab. Jeg er stor fortaler for genbrug og genanvendelse, så i
            det større perspektivgør det bare jeres projekt endnu bedre.”
          </p>
          <p>- Mark Petterson, Digital redaktør KAB</p>
        </div>
        <div>
          <img class="img_class" src="../../public/kab.png" alt="" />
        </div>
      </div>
    </div>
    <img class="sygning" src="public/langtrad_nal.webp" alt="" />
    <img class="buks" src="public/buks1.webp" alt="" />
  </body>
</html>

<style>
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .box {
    background-color: #ffffff5b;
    padding: 30px; /* indvendig polstring */
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 30px;
    width: fit-content; /* justerer bredden til indholdet */
    align-self: center;
    place-self: center;
  }

  .img_class {
    position: relative;
    height: 90%;
    place-self: center;
    scale: 0.8;
  }
  .sygning {
    position: relative;
    rotate: 90deg;
    left: -250px;
    top: -770px;
  }

  .buks {
    position: relative;
    scale: 0.5;
    rotate: 20deg;
    top: -350px;
    left: 400px;
  }

  .cursive {
    font-style: italic;
  }
</style>
