---
import MainLayout from "../layouts/MainLayout.astro";
import "../styles/main.css";
---

<html lang="da">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <MainLayout />
    <img
      class="header-image"
      src="../../public/gradient.png"
      alt="gradient baggrund"
    />
    <div class="grid">
      <div class="gardin_v">
        <img src="../../public/gardiner_v.webp" alt="" />
      </div>
      <div class="gardin_h">
        <img src="../../public/gardiner_h.webp" alt="" />
      </div>
    </div>
  </body>
</html>

<style>
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr; /* To kolonner */
    justify-items: center; /* Centrer indholdet vandret */
    align-items: center; /* Centrer indholdet lodret */
  }

  .gardin_h {
    justify-self: start;
    max-height: 100%;
    max-width: 100%;
  }

  .gardin_v {
    justify-self: end;
    max-height: 100%;
    max-width: 100%;
  }
</style>
