---
import MainLayout from "../layouts/MainLayout.astro";
import "../styles/main.css";
---

<html lang="da">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <MainLayout />
    <div class="grid">
      <h1 class="repair">Repair</h1>
      <h1 class="service">Service</h1>
      <img id="v" src="../../public/gardiner_v.webp" alt="" />
      <img id="h" src="../../public/gardiner_h.webp" alt="" />
    </div>
  </body>
</html>

<style>
  .grid {
    height: 85vh;
    display: grid;
    grid-template-columns: 1fr 1fr; /* To kolonner */
    justify-items: center; /* Centrer indholdet vandret */
    align-items: center; /* Centrer indholdet lodret */
  }

  .grid img {
    height: 100%;
  }

  #v {
    justify-self: end;
  }

  #h {
    justify-self: baseline;
  }

  .repair {
    position: absolute; /* Positionér h1 absolut */
    top: 150px; /* Placer øverst i .grid */
    left: 42%; /* Centrer vandret i forhold til .grid */
    transform: translateX(-50%); /* Juster for at centrere præcist */
    z-index: 1; /* Sørg for, at h1 er foran gardinerne */
    font-size: 3rem;
  }

  .service {
    position: absolute; /* Positionér h1 absolut */
    top: 150px; /* Placer øverst i .grid */
    left: 58%; /* Centrer vandret i forhold til .grid */
    transform: translateX(-50%); /* Juster for at centrere præcist */
    z-index: 1; /* Sørg for, at h1 er foran gardinerne */
    font-size: 3rem;
  }
</style>
