---
import MainLayout from "../layouts/MainLayout.astro";
import "../styles/main.css";
---

<html lang="da">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <MainLayout />
    <img
      class="header-image"
      src="../../public/gradient.png"
      alt="gradient baggrund"
    />
    <img class="gardin_h" src="../../public/gardiner_h.webp" alt="" />
    <img class="gardin_v" src="../../public/gardiner_v.webp" alt="" />
  </body>
</html>

<style>
  .gardin_v {
    position: relative;
    z-index: 1;
    left: -700px;
    top: -200px;
    width: 40%;
  }

  .gardin_h {
    position: relative;
    left: 620px;
    width: 50%;
  }
</style>
