---
import MainLayout from "../layouts/MainLayout.astro";
import "../styles/main.css";
---

<html lang="da">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <MainLayout />

    <div class="grid">
      <img id="v" src="../../public/gardiner_v.webp" alt="" />
      <img id="h" src="../../public/gardiner_h.webp" alt="" />
    </div>
  </body>
</html>

<style>
  .grid {
    height: 70vh;
    display: grid;
    grid-template-columns: 1fr 1fr; /* To kolonner */
    justify-items: center; /* Centrer indholdet vandret */
    align-items: center; /* Centrer indholdet lodret */
  }

  .grid img {
    height: 100%;
  }

  #v {
    justify-self: end;
  }

  #h {
    justify-self: baseline;
  }
</style>
