---
import MainLayout from "../layouts/MainLayout.astro";
import "../styles/main.css";
import Repair_service from "../components/Repair_service.astro";
import Hvad_er from "../components/Hvad_er.astro";
import Esg from "../components/Esg.astro";
import Hvorfor from "../components/Hvorfor.astro";
import Graf from "../components/Graf.astro";
import Team from "../components/Team.astro";
---

<MainLayout title="Index">
  <div class="grid">
    <h1 class="repair">Repair</h1>
    <h1 class="service">Service</h1>
    <img id="v" src="/gardiner_v.webp" alt="" />
    <img id="h" src="/gardiner_h.webp" alt="" />
  </div>
  <Repair_service />
  <Hvad_er />
  <Esg />
  <Hvorfor />
  <Graf />
  <Team />
</MainLayout>

<style>
  .grid {
    height: 85vh;
    display: grid;
    grid-template-columns: 1fr 1fr; /* To kolonner */
    justify-items: center; /* Centrer indholdet vandret */
    align-items: center; /* Centrer indholdet lodret */
  }

  .grid img {
    height: 100%;
  }

  #v {
    justify-self: end;
  }

  #h {
    justify-self: baseline;
  }

  .repair {
    position: absolute; /* Positionér h1 absolut */
    top: 150px; /* Placer øverst i .grid */
    left: 42%; /* Centrer vandret i forhold til .grid */
    transform: translateX(-50%); /* Juster for at centrere præcist */
    z-index: 1; /* Sørg for, at h1 er foran gardinerne */
    font-size: 3rem;
  }

  .service {
    position: absolute; /* Positionér h1 absolut */
    top: 150px; /* Placer øverst i .grid */
    left: 58%; /* Centrer vandret i forhold til .grid */
    transform: translateX(-50%); /* Juster for at centrere præcist */
    z-index: 1; /* Sørg for, at h1 er foran gardinerne */
    font-size: 3rem;
  }
</style>
