---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout />

<h1>SKAB BÆREDYGTIGHED FOR DIN VIRKSOMHED MED REPAIR SERVICE</h1>
<p>
  Vores samarbejde med forskellige interessenter gør det muligt for os at skabe
  jobmuligheder, netværk og livskvalitet for mennesker, som står udenfor det
  danske arbejdsmarked.
</p>
