---
import Button from "../components/Button.astro";
import MainLayout from "../layouts/MainLayout.astro";
import "../styles/main.css";
---

<html lang="da">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <MainLayout />
    <div class="content-container">
      <h1>SKAB BÆREDYGTIGHED FOR DIN <br />VIRKSOMHED MED REPAIR SERVICE</h1>
      <p>
        Vores samarbejde med forskellige interessenter gør det muligt for os at <br
        />
        skabe jobmuligheder, netværk og livskvalitet for mennesker, som står <br
        />udenfor det danske arbejdsmarked.
      </p>
      <Button>KØB NU</Button>
    </div>
    <img src="/buks2.webp" alt="Bukselomme 1" class="billede-1" />
    <div class="billede-container">
      <img src="/buks1.webp" alt="Bukselomme 2" class="billede-2" />
      <img src="/buks3.webp" alt="Bukselomme 3" class="billede-3" />
    </div>
    <img src="/sygning.webp" alt="syning illustration" class="syning" />
  </body>
</html>

<style>
  /* tekst*/
  .content-container {
    margin-left: 138px;
    max-width: 850px;
    padding: 25px;
    position: absolute;
    top: 164px;
    overflow: hidden;
  }

  .content-container h1 {
    line-height: 1.1;
    font-size: 40px;
    margin-top: 0; /* Nulstil toppen margin */
    margin-bottom: 5px;
  }

  .content-container p {
    font-size: 19px;
    margin-top: 0; /* Nulstil toppen margin */
    margin-bottom: 10px;
  }
  /* bukselommerne */
  .billede-1 {
    position: absolute;
    top: 500px;
    left: -92px;
    width: 250px;
    height: auto;
    transform: translateY(-5%) rotate(-42deg);
    overflow: hidden;
  }

  .billede-container {
    position: absolute;
    width: 100%;
    height: 100vh; /* Sørg for at containeren dækker hele viewport */
    overflow: hidden; /* Skjul overskydende indhold */
  }

  .billede-2,
  .billede-3 {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    overflow: hidden;
  }

  .billede-2 {
    right: -3%;
    width: 290px;
    z-index: 1;
    transform: translateY(0) rotate(24deg);
    overflow: hidden;
  }

  .billede-3 {
    right: 253px;
    width: 245px;
    transform-origin: top;
    transform: translateY(28%) rotate(-23deg);
    z-index: 2;
    overflow: hidden;
  }

  .syning {
    position: relative;
    left: 198px;
    top: 0px;
    transform: translateY(440%) rotate(10deg);
    width: 900px;
    overflow: hidden;
  }
</style>
