---
import "../styles/main.css";
import MainLayout from "../layouts/MainLayout.astro";
import Footer from "../components/Footer.astro";
---

<html lang="da">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <MainLayout />
    <img
      class="header-image1"
      src="public/ big_gradient.png"
      alt="gradient baggrund"
    />
    <h1>Vores repair service team</h1>
    <div class="team_box" class="grid">
      <div>
        <img src="../../public/olena.png" alt="" />
        <p>
          Olena - ITMV SYERSKE <br /> Er specialiseret i visible mending og tilpasning.
        </p>
      </div>
      <div>
        <img src="../../public/luna_team.png" alt="" />
        <p>
          Ira - ITMV SYERSKE <br /> Er specialiseret i tøj reperationer og tilpasning.
        </p>
      </div>
      <div>
        <img src="../../public/luna.png" alt="" />
        <p>
          Luna - ITMV DESIGNASSISTENT <br />
          Er specialiseret i tøj reperationer og  tilpasning.
        </p>
      </div>
    </div>
    <h1>Reperationsmenu</h1>
    <div class="grid2">
      <img src="../../public/menu1.png" alt="" />
      <img src="../../public/menu2.png" alt="" />
      <img src="../../public/menu4.png" alt="" />
      <img src="../../public/menu1.png" alt="" />
      <img src="../../public/menu2.png" alt="" />
      <img src="../../public/menu4.png" alt="" />
    </div>
    <Footer />
  </body>
</html>

<style>
  body {
    overflow: auto;
  }

  .header-image1 {
    position: absolute;
    inset: 0;
    opacity: 0.5;
    z-index: -1;
  }

  .grid2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    justify-items: center;
    padding-top: 50px;
    margin-top: 50px;
  }

  .grid2 img {
    height: 80%;
  }

  .team_box {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Tre kolonner med samme bredde */
    justify-content: center; /* Centrer indholdet horisontalt */
    justify-items: center;
    padding: 20px;
    background-color: #ffffff5b;
    margin-bottom: 100px;
  }

  .team_box img {
    max-width: 100%; /* Sørg for, at billederne ikke strækker sig ud over deres container */
    height: auto; /* Bevar billedets proportioner */
  }
</style>
