---
const { type = "button", size = "md" } = Astro.props;
---

<button {type} data-size={size}>
  <slot />
</button>

<style>
  button {
    font: inherit;
    cursor: pointer;
    border-style: dashed;
    border-radius: 8px;
    border-width: 1.5px;
    border-color: #e94c28;
    background-color: rgba(255, 255, 255, 0.6);
    width: 135px; /* Ændr bredden efter behov */
    padding: 10px 10px;
    color: #e94c28;
    font-weight: bold;
  }
</style>
