---
const { type = "button", size = "md" } = Astro.props;
---

<button {type} data-size={size}>
  <slot />
</button>

<style>
  button {
    font: inherit;
    cursor: pointer;
    border-style: dashed;
    border-radius: 7.5px;
    border-width: 1.5px;
    border-color: #e94c28;
    background-color: #fff;
    width: 120px; /* Ændr bredden efter behov */
    padding: 5px 10px;
  }
</style>
