<div class="grid_1_1_1">
<div class="afsnit">
    <p>Om os</p>
    <p>Shop</p>
    <p>Book os</p>
    <p>Samarbejde</p>
    <p>Kontakt</p>
    <p>Presse</p>
    <p>Handelsbetingelser</p>
    <p>Betaling</p>
    <p>Privatlivspolitik</p>
</div>
<div>
    <p>Her finder du os:</p>
   <p>
    <strong>Værkstedet i Lundtoftegade</strong><br>Lundtoftegade 23, 1 sal<br>2200 København N
   </p>
   <p><strong>Værkstedet i Farum Midtpunkt</strong><br>Nygårdterasserne 213A<br>3520 Farum</p>
   <p><strong>Mail: </strong>itmv@itmv.dk<br><strong>Telefon: </strong>60877307<br><strong>CVR: </strong>34449686</p>
</div>
<div>
    <h1>TILMELD NYHEDSBREV</h1>

    <p class="change">Tilmed</p>
</div>
</div>

<style>
.grid_1_1_1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    justify-items: center;
    background-color: #FAF4EF;
    grid-template-areas:  
    'left middle right';
  }

  .afsnit{
    line-height: 0.7;
  }

.left {
  grid-area: left;
}

/* Style the middle column */
.middle {
  grid-area: middle;
}

/* Style the right column */
.right {
  grid-area: right;
  background-color: #3D5C6D;


  h1{
    color: white;
    text-align: center;
    font-size: 1.5rem;
  }

  .change{
    color: white;
    text-align: right;
  }
  
  </style>