<div class="grid_1_1_1">
<div>
    <p>Om os</p>
    <p>Shop</p>
    <p>Book os</p>
    <p>Samarbejde</p>
    <p>Kontakt</p>
    <p>Presse</p>
    <p>Handelsbetingelser</p>
    <p>Betaling</p>
    <p>Privatlivspolitik</p>
</div>
<div>
    <p>Her finder du os:</p>
   <p>
    Værkstedet i Lundtoftegade<br>Lundtoftegade 23, 1 sal<br>2200 København N
   </p>
   <p>Værkstedet i Farum Midtpunkt<br>Nygårdterasserne 213A<br>3520 Farum</p>
   <p>Mail: itmv@itmv.dk<br>Telefon: 60877307<br>CVR: 34449686</p>
</div>
<div>
    <h1>TILMELD NUHEDSBREV</h1>
    <p>Tilmed</p>
    EN STREG
</div>
</div>

<style>
.grid_1_1_1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    justify-items: center;
    padding-top: 50px;
    margin-top: 50px;
  }
  
  </style>